<h1>Definitions</h1>
<br>
<div class='row'>
  <div class='col-sm-6'>
    <h2><%= @word.word %></h2>
    <p>
      If there aren't any definitions click the link below and add one
    </p>
    <a href="/word/<%= @word.id %>/def_form">Add Definition</a>
  </div>
  <br>
  <div class='col-sm-6'>
    <p>
      Definitions
    </p>

    <ul class='list'>
      <% if @def %>
        <% @def.definitions.each do |definition| %>
          <li><%= definition %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
