

<div class='row'>
  <div class='col-sm-6'>
    <h1>Welcome to Dictionary</h1>
    <p>Click a word in the word list to see it's definitions
    or if no words are in the list click Add Word to add some</p>

    <a href="/word_form"><button class='btn btn-success'>Add Word</button></a>

  </div>
  <br>
  <div class='col-sm-6'>
    <h4>Word List</h4>

    <ul class='list'>
      <% Word.all.each do |word| %>
      <a href="/word/<%= word.id %>/def"><li><%= word.word %></li></a>
      <% end %>
    </ul>
  </div>
</div>
