<h2>Word form</h2>
<form  action="/add_word" method="post">
  <div class='form-group'>
    <label for="word">Enter a word</label>
    <input type="text" name="word" class='form-control'>
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>
